on: [push, pull_request]

name: CI

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Zig test
        uses: goto-bus-stop/setup-zig@v1
        with:
          version: 0.11.0
      - run: make
